html, body {
    scroll-behavior: smooth;
    margin: 0;  
  }

  body {
      background-image: url(/_includes/assets/images/cool-background.png);
      background-repeat: no-repeat;
      background-size: 100%;

  }

.container {
    padding: 0 2rem;
    color: #FFFFFF;
}

.items > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-gap: 1rem;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.items > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    padding: 0 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center-text {
    text-align: center;
}
